@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m2te4d');
	src:url('fonts/icomoon.eot?#iefix-m2te4d') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m2te4d') format('woff'),
		url('fonts/icomoon.ttf?-m2te4d') format('truetype'),
		url('fonts/icomoon.svg?-m2te4d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wedit-icon-"], [class*=" wedit-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wedit-icon-undo:before {
	content: "\e965";
}

.wedit-icon-redo:before {
	content: "\e966";
}

.wedit-icon-quotes-left:before {
	content: "\e977";
}

.wedit-icon-list-numbered:before {
	content: "\e9b9";
}

.wedit-icon-list2:before {
	content: "\e9bb";
}

.wedit-icon-link:before {
	content: "\e9cb";
}

.wedit-icon-font-size:before {
	content: "\ea61";
}

.wedit-icon-bold:before {
	content: "\ea62";
}

.wedit-icon-italic:before {
	content: "\ea64";
}

.wedit-icon-pagebreak:before {
	content: "\ea6e";
}

