html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.demo {
	width: 100%;
	height: 100%;
	margin: 200px 0;
}

.weditor-container {
	width: 20%;
	margin: 50px auto;
}

.weditor {
	width: 100%;
	display: none;
}

.wedit-input { 
	width: 98.5%; 
	margin: 0 auto;
}

.wedit-input:focus {
	outline: none;
}

.wedit-buttons,
.wedit-preview {
	width: 100%;
	margin: 0 auto;
	line-height: 1em;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	box-sizing: border-box;
	cursor: pointer;
}

.wedit-buttons { font-size: 12px; }
.wedit-buttons ul { 
	margin: 10px; 
	padding-left: 0;
}

.wedit-buttons ul li{
	display: inline;
	margin: 0;
}

.wedit-buttons ul li a{
	padding: 5px;
	color: black;
	text-decoration: none;
}

.wedit-buttons ul li a span{ display: none; }

.wedit-buttons ul li a:hover{
	color: #62676d;
	position: relative;
	top: 1px;
}

.wedit-preview { min-height: 50px; }

.wedit-preview ul {
	margin-left: 20px;
	list-style-type: disc;
}

.wedit-preview strong { font-weight: bold; }
.wedit-preview em { font-style: italic; }

.wedit-preview h1,.wedit-preview h2,.wedit-preview h3{ 
	padding-left: 5px;
	font-weight: bold; 
}

.wedit-preview h1 { font-size: 18px; }
.wedit-preview h2 { font-size: 14px; }
.wedit-preview h3 { font-size: 12px; }
.wedit-preview > p { padding-left: 5px; }
